<section id="login">
  <main>
    <div class="container">
      <h2>Login</h2>
      <form [formGroup]="connectionForm" (ngSubmit)="onSubmit()" class="create-user-form">
        <div class="form-group">
        <div class="form-group">
          <label for="id">Customer Number</label>
          <input type="text" formControlName="id" id="id" name="id" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" formControlName="password" id="password" name="password" required>
        </div>
        <button type="submit" class="button">Login</button>
          <button type="button"
                  [routerLink]="[{ outlets: { login: ['subscribe'] } }]"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  class="button">
            Create a new Account
          </button>
        </div>
      </form>
    </div>
  </main>
</section>
